<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbao.aisr.app.repository.mybatis.dao.ad.AdBannerDao">
    <resultMap type="AdBanner" id="AdBannerMap">
        <result column="id" property="id" />
        <result column="img_url" property="imgUrl" />
        <result column="link_url" property="linkUrl" />
        <result column="status" property="status" />
        <result column="on_time" property="onTime" />
        <result column="off_time" property="offTime" />
        <result column="module_id" property="moduleId"/>
        <result column="ad_location_id" property="adLocationId"/>
        <result column="name" property="name" />
        <result column="memo" property="memo" />
        <result column="advertiser" property="advertiser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
</mapper>