<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbao.aisr.app.repository.mybatis.dao.ad.AdJuDao">
    <resultMap type="AdJu" id="AdJuMap">
        <result column="ju_id" property="juId"/>
        <result column="ad_location_id" property="adLocationId"/>
        <result column="status" property="status"/>
        <result column="on_time" property="onTime"/>
        <result column="off_time" property="offTime"/>
        <result column="memo" property="memo"/>
        <result column="advertiser" property="advertiser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>