<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbao.aisr.app.repository.mybatis.dao.stuffappeal.StuffAppealDao">
    <resultMap type="StuffAppeal" id="StuffAppealMap">
        
        <result column="id" property="appealId"/>
        <result column="user_id" property="userId"/>
        <result column="order_id" property="orderId"/>
        <result column="source" property="source"/>
        <result column="status" property="appealStatus"/>
        <result column="content" property="content"/>
        <result column="img_url" property="imgUrl"/>
        <result column="device" property="device"/>
        <result column="phone_brand" property="phoneBrand"/>
        <result column="phone_type" property="phoneType"/>
        <result column="reason" property="reason"/>
        <result column="rebate_value" property="rebateValue"/>
        <result column="create_time" property="appealTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="ops" property="ops"/>
        <result column="comment" property="comment"/>
        <result column="qq" property="qq"/>
        <result column="phone" property="phone"/>
    </resultMap>
</mapper>